<% if conversation %>
	<% if conversation.is_unread_by current_member %><span class="oi oi-media-record text-primary mr-1" style="float:right"></span><% end %>
    <%= render conversation.messages.timeline_order.limit(6) %>
  	<%= link_to "weiterlesen", conversation_path(conversation)+'#bottom', class: "btn btn-primary float-right" %>
<% end %>