<div class="float-right">
  <div class="badge badge-calm">
    <% if mandate.is_assigned_to(current_member) %>
      Zugewiesen
    <% elsif mandate.application_exists_from(current_member) %>
      Beworben
    <% end %>
  </div>
</div>
<div class="h6 mb-0">
  <%= render "common/mandate_icon", mandate: mandate %>
  <span class="mandate-title"><%= mandate.title %></span>
</div>