<div class="form-group">
  <%= f.label :title, "Titel" %>
  <%= f.text_field :title, class:"form-control" %>
</div>
<div class="form-group">
  <%= f.label :where, "Wo" %>
  <%= f.text_field :where, class:"form-control" %>
</div>